<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediCent</title>
    
    <!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">-->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar">
  	
  		<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Log In</h1><br>
				  <form method="post">
					<input type="text" name="user" placeholder="Mobile Number / Email ID" required>
					<input type="password" name="pass" placeholder="Password" required>
					<input type="checkbox" name="remember">  Remember me</br>
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>


		  <!--<div class="modal fade" id="SignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">-->
    	  <!--<div class="modal-dialog">-->
				<!--<div class="loginmodal-container">-->
					<!--<h1>Sign Up</h1><br>-->
				  <!--<form>-->
					<!--<input type="text" name="fullname" placeholder="Full Name">-->
					<!--<input type="text" name="mobilenum" placeholder="Mobile Number">-->
					<!--<input type="password" name="pass" placeholder="Password">-->
					<!--<input type="submit" name="Signup" class="login loginmodal-submit" value="Sign Up">-->
				  <!--</form>-->
				<!--</div>-->
			<!--</div>-->
		  <!--</div>-->

  	<!--banner-->
	<section id="banner" class="banner">
		<div class="bg-color">
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container">
			  	<div class="col-md-12">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <!--<h1 class="white">MediCent</h1>
				      <!--<a class="navbar-brand" href="#"><img src="img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>-->
				    </div>
				    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="#banner">Home</a></li>
				        <li class=""><a href="#service">Services</a></li>
				        <li class=""><a href="#about">About</a></li>
				        <li class=""><a href="#contact">Contact</a></li>
					  	{% set flag = tarp %}
			  			{% if flag == None %}
				        <li><a data-toggle="modal" data-target="#LoginModal">Log In</a></li>
						  <li><a href="/Signup">Sign Up</a></li>
					  	{% elif flag == 1%}
						  <li><a href="/patient">{{name}}</a></li>
						  <li class=""><a href="/logout">Log-Out</a></li>
					  	{% elif flag == 0 %}
						  <li><a href="/doctor">Dr.{{name}}</a></li>
						  <li class=""><a href="/logout">Log-Out</a></li>
					  {% end %}
				        <!--<li><a data-toggle="modal" data-target="#SignupModal">Sign Up</a></li>-->
				      </ul>
				    </div>
				</div>
			  </div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="banner-info">
						<div class="banner-logo text-center">
							<!--<img src="img/logo.png" class="img-responsive">-->
							<h1 class="white">MediCent</h1>
						</div>
						<div class="banner-text text-center">
							<h1 class="white">Healthcare at your desk!!</h1>
							<h3>Instant appointment with the best doctors. Guaranteed.</h3>
							<a href="#contact" class="btn btn-appoint">Send us a message!</a>
						</div>
						<div class="overlay-detail text-center">
			               <a href="#service"><i class="fa fa-angle-down"></i></a>
			             </div>		
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ banner-->
	<!--service-->
	<section id="service" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h2 class="ser-title">Our Service</h2>
					<hr class="botm-line">
					<p>Too lazy to get up from your bed and visit the doctor but your back is itching? Just Sign up on MediCent and get that advice on your itching back!</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-stethoscope"></i>
						</div>
						<div class="icon-info">
							<h4>24 Hour Support</h4>
							<p>Anytime Anywhere, just open the website up and make any appointments as quick as brushing your teeth!</p>
						</div>
					</div>
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-ambulance"></i>
						</div>
						<div class="icon-info">
							<h4>Emergency Services</h4>
							<p>In an emergency? Well our doctors are On duty 24/7 get instant help and advice from them about your situation.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-user-md"></i>
						</div>
						<div class="icon-info">
							<h4>Medical Counseling</h4>
							<p>Only the Best doctors for your Medical counseling needs!</p>
						</div>
					</div>
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-medkit"></i>
						</div>
						<div class="icon-info">
							<h4>Premium Healthcare</h4>
							<p>Our premium Healthcare providing hospitals will never let you down, we do a quality check for every hospital in our database.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
			</div>
		</div>
	</section>
	<!--cta-->
	<!--about-->
	<section id="about" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
			        <div class="section-title">
			          <h2 class="head-title lg-line">Our Team</h2>
			          <hr class="botm-line">
			          <p class="sec-para">A very strong and focused set of individuals who have the fire and determination for glory and the making of geniuses!
						  Our goal is to make peoples live easier and from this project we have come one step ahead!
					  </p>
			          <!--<a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>-->
			        </div>
			    </div>
			    <div class="col-md-9 col-sm-8 col-xs-12">
			       <div style="visibility: visible;" class="col-sm-9 more-features-box">
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>Amrut Phadke</h3>
				            <p>Our resident Backend developer who has made the server for our site and formulated the plot of the website!</p>
				        </div>
			          </div>
			          <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>Prakhar Lohiya</h3>
				            <p>The Defacto Frontend guy who made the webistes magical with his awesome Frontend-ing skills.</p>
				        </div>
                        </div>
					   <div class="more-features-box-text">
			            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
			            <div class="more-features-box-text-description">
				            <h3>Kaushik Reddy</h3>
				            <p>The man in the shadows that made this thing possible by making concrete models and devised the works of the Webapp.</p>
				        </div>
                        </div>
			        </div>
			    </div>
			</div>
		</div>
	</section>
	<!--/ about-->
	<!--doctor team-->

	<section id="doctor-team" class="section-padding">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h2 class="ser-title">Meet Our Doctors!</h2>
					<hr class="botm-line">
				</div>
				{% for doc in listofdoc %}
				{% if doc is not None %}
				<div class="col-md-3 col-sm-3 col-xs-6">
			      <div class="thumbnail">

			      	<img src="{{doc['img']}}" alt="..." class="team-img" style="width:250px;height:220px;">
			        <div class="caption">
			          <h3>Dr. {{doc['fname']}} {{doc['lname']}}</h3>
			          <p>{{doc['type']}}</p>
			          <ul class="list-inline">
			            <li><a href="https://www.facebook.com/pritish.thombare?ref=br_rs"><i class="fa fa-facebook"></i></a></li>
			            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
				{%end%}
				{%end%}
			</div>
		</div>
	</section>
	<!--/ doctor team-->
	<!--cta 2-->
	<section id="cta-2" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
	            <div class="text-right-md col-md-4 col-sm-4">
	              <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
	            </div>
	            <div class="col-md-5 col-sm-7">
	              For millions of people, MediCent is the trusted and familiar home where they know they’ll find a healing touch. It connects them with everything they need to take good care of themselves and their family - assessing health issues, finding the right doctor, booking diagnostic tests, obtaining medicines, storing health records or learning new ways to live healthier.</br></br>

				<p>Healthcare providers can also harness the power of MediCent as the definitive platform that helps them build their presence, grow establishments and engage patients more deeply than ever.</p>
	              <p class="text-right text-primary"><i>— MediCent Healthcare</i></p>
	            </div>
	            <div class="col-md-2"></div>
	        </div>
		</div>
	</section>
	<!--cta-->
	<!--contact-->
	<section id="contact" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">Contact us</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
			      <h3>Contact Info</h3>
			      <div class="space"></div>
			      <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Silver Jublee Tower<br>
			        VIT University, Vellore-632014</p>
			      <div class="space"></div>
			      <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>lokesh.sipani2016@vitstudent.ac.in</p>
			      <div class="space"></div>
			      <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+91 8100650006</p>
			    </div>
				<div class="col-md-8 col-sm-8 marb20">
					<div class="contact-info">
							<h3 class="cnt-ttl">Send us a message!</h3>
							<div class="space"></div>
							{% if success%}
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            {%end%}
							<form action="/message" method="get" role="form" class="contactForm">
							    <div class="form-group">
                                    <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                
								<div class="form-action">
									<button type="submit" class="btn btn-form">Send message</button>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ contact-->
	<!--footer-->
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">About Us</h4>
							</div>
							<div class="info-sec">
								<p>MediCent connects people with everything they need to take good care of themselves and their family - assessing health issues, finding the right doctor, booking diagnostic tests, obtaining medicines, storing health records or learning new ways to live healthier.</p>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Follow us</h4>
						</div>
						<div class="info-sec">
							<ul class="social-icon">
								<li class="bglight-blue"><i class="fa fa-facebook"></i></li>
								<li class="bgred"><i class="fa fa-google-plus"></i></li>
								<li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
								<li class="bglight-blue"><i class="fa fa-twitter"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
                        <div class="credits">

                        </div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ footer-->
    
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>
    
  </body>
</html>