<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>A PAGE</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">
  <link href="../static/css/signup.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">
      <img src="../static/images/first-aid.png" id="brand" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item">

                <a class="nav-link" href="/">
                  <i class="fa fa-fw fa-tablet"></i>
                  <span class="nav-link-text">{{Name}} </span>
                </a>
            </li>
        <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">-->
          <!--<a class="nav-link" href="/">-->
            <!--<i class="fa fa-fw fa-dashboard"></i>-->
            <!--<span class="nav-link-text">Home</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">-->
          <!--<a class="nav-link" href="charts.html">-->
            <!--<i class="fa fa-fw fa-area-chart"></i>-->
            <!--<span class="nav-link-text">Charts</span>-->
          <!--</a>-->
        <!--</li>-->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Hospitals">
          <a class="nav-link" href="/portal">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Hospitals</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Your details">
          <a class="nav-link" id="detail">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Your details</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Make an appointment">
          <a class="nav-link" id="appoint">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Make an appointment</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Appointments">
          <a class="nav-link" id="resp">
            <i class="fa fa-fw fa-tablet"></i>
            <span class="nav-link-text">Check Appointments</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <!--<a class="nav-link" data-parent="#exampleAccordion">-->
            <!--<i class="fa fa-fw fa-file"></i>-->
            <!--<span class="nav-link-text">Example Pages</span>-->
          <!--</a>-->
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="/Signup">Registration Page</a>
            </li>
            <!--<li>-->
              <!--<a href="forgot-password.html">Forgot Password Page</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="blank.html">Blank Page</a>-->
            <!--</li>-->
          </ul>
        </li>
        <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">-->
          <!--<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">-->
            <!--<i class="fa fa-fw fa-sitemap"></i>-->
            <!--<span class="nav-link-text">Menu Levels</span>-->
          <!--</a>-->
          <!--<ul class="sidenav-second-level collapse" id="collapseMulti">-->
            <!--<li>-->
              <!--<a href="#">Second Level Item</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Second Level Item</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Second Level Item</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>-->
              <!--<ul class="sidenav-third-level collapse" id="collapseMulti2">-->
                <!--<li>-->
                  <!--<a href="#">Third Level Item</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#">Third Level Item</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#">Third Level Item</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <!--<a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fa fa-fw fa-envelope"></i>-->
            <!--<span class="d-lg-none">Messages-->
              <!--<span class="badge badge-pill badge-primary">12 New</span>-->
            <!--</span>-->
            <!--<span class="indicator text-primary d-none d-lg-block">-->
              <!--<i class="fa fa-fw fa-circle"></i>-->
            <!--</span>-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="messagesDropdown">-->
            <!--<h6 class="dropdown-header">New Messages:</h6>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<strong>David Miller</strong>-->
              <!--<span class="small float-right text-muted">11:21 AM</span>-->
              <!--<div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<strong>Jane Smith</strong>-->
              <!--<span class="small float-right text-muted">11:21 AM</span>-->
              <!--<div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<strong>John Doe</strong>-->
              <!--<span class="small float-right text-muted">11:21 AM</span>-->
              <!--<div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item small" href="#">View all messages</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fa fa-fw fa-bell"></i>-->
            <!--<span class="d-lg-none">Alerts-->
              <!--<span class="badge badge-pill badge-warning">6 New</span>-->
            <!--</span>-->
            <!--<span class="indicator text-warning d-none d-lg-block">-->
              <!--<i class="fa fa-fw fa-circle"></i>-->
            <!--</span>-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="alertsDropdown">-->
            <!--<h6 class="dropdown-header">New Alerts:</h6>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<span class="text-success">-->
                <!--<strong>-->
                  <!--<i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>-->
              <!--</span>-->
              <!--<span class="small float-right text-muted">11:21 AM</span>-->
              <!--<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<span class="text-danger">-->
                <!--<strong>-->
                  <!--<i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>-->
              <!--</span>-->
              <!--<span class="small float-right text-muted">11:21 AM</span>-->
              <!--<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<span class="text-success">-->
                <!--<strong>-->
                  <!--<i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>-->
              <!--</span>-->
              <!--<span class="small float-right text-muted">11:21 AM</span>-->
              <!--<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item small" href="#">View all alerts</a>-->
          <!--</div>-->
        </li>
        <!--<li class="nav-item">-->
          <!--<form class="form-inline my-2 my-lg-0 mr-lg-2">-->
            <!--<div class="input-group">-->
              <!--<input class="form-control" type="text" placeholder="Search for...">-->
              <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-primary" type="button">-->
                  <!--<i class="fa fa-search"></i>-->
                <!--</button>-->
              <!--</span>-->
            <!--</div>-->
          <!--</form>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{Name}}</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1 style="color:black;">Home</h1>
          <p style="color:black;">Welcome {{Name}}!</p>
            {% if success %}
                <div class="alert alert-success" role="alert">
                    <strong>Heads up!</strong> Your appointment has been made successfully!
                </div>
              {% elif error %}
              <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> You have already made an appointment please wait for the doctor to respond!
              </div>
              {% else %}
          <hr>
            <div class="appointment">
              <h3 class="bolo">Make an appointment</h3>
          <div class="rounded bg-dark make-ones row">
            <div class="colo">
            <form class="was-validated" id="apoints" method="post">
              <h2> Make an appointment</h2>
              <hr class="ruler">
            <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <label for="symptoms">Symptoms </label>
                  <textarea name="symptoms" class="form-control" id="symptoms" type="text" aria-describedby="nameHelp" placeholder="" required></textarea>
              </div>
            </div>
          </div>
            <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <label for="symptoms">Describe your situation </label>
                  <textarea name="situation" class="form-control" id="situation" type="text" aria-describedby="nameHelp" placeholder="" required></textarea>
              </div>
            </div>
          </div>
            <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                  <label for="doc-sel">What type of doctor do you require?</label>
                <br>
                  <select class="custom-select" id="doc-sel" name="type">
                    <option value="ent">ent</option>
                    <option value="physician">physician</option>
                    <option value="orthodontist">orthodontist</option>
                    <option value="cardiologist">cardiologist</option>
                    <option value="neurologist">neurologist</option>
                    <option value="psychiatrist">psychiatrist</option>
                </select>
              </div>
            </div>
          </div>
            <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <input type="submit" class="btn btn-primary">
              </div>
            </div>
          </div>
        </form>
          </div>
          </div>
        </div>
          <div id="detailss">
            <h3 class="bolo">Details</h3>
            <div class="rounded bg-dark make-twos row">
        <div class="item-image col-md-3">
        <img class="img-fluid druid" src="{{resp['img']}}">
        </div>
        <div class="item-content col-md-9">
            <div class="inner-content">
                <div class="Heading">
                    <h1 class="alert-heading">{{resp['fname']}} {{resp['lname']}}</h1>
                    <hr class="ruler">
                </div>
              <br>
                <span class="item-attributes"><strong>Email: </strong></span><span class="colo"><br> {{resp['email']}}<br></span>
                <span class="item-attributes"><strong>Address: </strong></span><span class="colo"><br> {{resp['address']}}<br></span>
                <!--<span class="item-attributes"><strong>made appointments: </strong></span><br>-->
              <!--<span class="colo">-->
                      <!-- if resp['ap_details'] != {} -->
                      <!--<br>Symptomps:  resp['ap_details']['symptoms']-->
                      <!--<br>Description:  resp['ap_details']['situation']-->
                      <!--<br>Your hsitory: resp['history']-->
                      <!---->
            <!--</span>-->
            <!--</span>-->
            </div>
        </div>
    </div>
          </div>
          {% if data != []%}
            <div class="response">
                {% set counter = 1%}
              {%set zero=1%}
              {% for ap in data %}
                {% if counter==3 or zero==1%}
              {%set zero=0%}
              {%set counter+=1%}
                <div class="row">
                {%end%}
                    <div class="col-3">
              <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
              <div class="card-header">appointment with Dr. {{ap['doctor']}}</div>
              <div class="card-body">
                {% if not ap['status'] %}
              <h4 class="card-title text-danger">Pending</h4>
              <p class="card-text">
                  <span class="item-attributes"><strong>symptoms: </strong></span><span class="colo">{{ap['symptoms']}}</span><br>
                  <span class="item-attributes"><strong>description: </strong></span><span class="colo">{{ap['situation']}}</span><br>
                <span class="item-attributes"><strong>doctor: </strong></span><span class="colo">{{ap['doctor']}}</span><br>
              </p>
                {%else%}
                <h4 class="card-title text-success">Completed</h4>
                <p class="card-text">
                  <span class="item-attributes"><strong>symptoms: </strong></span><span class="colo">{{ap['symptoms']}}</span><br>
                  <span class="item-attributes"><strong>description: </strong></span><span class="colo">{{ap['situation']}}</span><br>
                <span class="item-attributes"><strong>doctor: </strong></span><span class="colo">{{ap['doctor']}}</span><br>
                  <span class="item-attributes"><strong>Response: </strong></span><span class="colo">{{ap['response']}}</span><br>
              </p>
                {%end%}
              </div>
              </div>
                </div>
            {% if counter%3==0 and counter!=0%}
                  {%set counter-=3%}
          </div>
        {%end%}

          {%end%}

                </div>
            {%end%}
            {%end%}
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © MediCent 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
      <span class="bolo">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </span>
    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>
    <script>
      $().ready(function() {
          $("#detailss").hide();
          $(".response").hide();
        $(function () {
          $("#appoint").click(function(e){
              e.preventDefault();
              console.log('appoint clicked !');
              $(".appointment").show();
			  $("#detailss").hide();
			  $(".response").hide();
	  });
	 $("#detail").click(function(e){
	     e.preventDefault();
	     console.log('detail clicked !');
	      $(".appointment").hide();
	      $("#detailss").show();
	      $(".response").hide();

        });
	 $("#resp").click(function(e){
	     e.preventDefault();
	     console.log('detail clicked !');
	      $(".appointment").hide();
	      $("#detailss").hide();
	      $(".response").show();

        });
	  });
});
    </script>
  </div>
</body>

</html>
